NODE_ENV=development
PORT=3000
DATABASE_URL=""

POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=


JWT_SECRET=
JWT_EXPIRES_IN=

SEED_ADMIN_FIRST_NAME=
SEED_ADMIN_SURNAME=
SEED_ADMIN_EMAIL=
SEED_ADMIN_USERNAME=
SEED_ADMIN_PASSWORD=